.AboutIntroSection {
    width: 100%;
    /* height: 90vh; */
    /* background-color: green; */
}
.AboutIntroSection .summary {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 35% 65%;
}
.AboutIntroSection .about-intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: right;
}
.AboutIntroSection .img-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
}
.AboutIntroSection .img-div .img-content {
    width: 80%;
}
.AboutIntroSection h1 {
    margin-top: 10vh;
}
.AboutIntroSection h2 {
    margin-bottom: 1rem;
}
.AboutIntroSection h3{
    margin-top: 1vh;
    font-weight: 300;
    color: gray;
}
.AboutIntroSection img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15%;
    cursor: pointer;
    transition: 0.2s ease-in;
}
#normal {
    content: url("/public/straight.jpeg");
}
#normal:hover {
    scale: 101%;
    content: url("/public/smirk.jpeg");
}
#funny {
    content: url("/public/funny.jpeg");
}

@media (max-width: 1350px) {
    .AboutIntroSection .summary {
        grid-template-columns: 1fr;
    }
    .AboutIntroSection .img-div {
        height: 35vh;
        display: flex;
        align-items: center;
    }
    .AboutIntroSection img {
        height: 30vh;
        width: 30vh;
    }
}
@media (max-width: 800px) {
    .AboutIntroSection .summary {
        grid-template-columns: 1fr;
    }
    .AboutIntroSection .img-div {
        display: flex;
        align-items: center;
    }
    .AboutIntroSection .about-intro-text {
        margin-top: 4vh;
    }
    .AboutIntroSection h2{
        font-weight: 100;
        font-size: 2.75vh;
    }
}