.RecentBlogSection {
    margin-bottom: 10vh;
}
.RecentBlogSection h2 {
    margin-bottom: 6vh;
    color: gray;
    font-weight: 500;
}
.RecentBlogSection .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}