.ProjectSummarySection {
    color: white;
}
.ProjectSummarySection .content {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: end;
}
.ProjectSummarySection .summary-div {
    display: flex;
    flex-direction: column;
}
.ProjectSummarySection .img-div {
    display: flex;
    justify-content: end;
    height: 70vh;
}
.ProjectSummarySection h2 {
    margin-top: 2rem;
    color: gray;
}
.ProjectSummarySection h4 {
    margin-top: 2rem;
}