.ProjectSummarySection {
    color: white;
    height: 90vh;
}
.ProjectSummarySection .content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 60% 40%;
    align-items: center;
}
.ProjectSummarySection .summary-div {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}
.ProjectSummarySection .img-div {
    display: flex;
    justify-content: end;
    height: 80vh;
}
.ProjectSummarySection h2 {
    margin-top: 2rem;
}
