.ProjectPreviewsSection {
    color: white;
    height: 80vh;
}
.previews-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-radius: 2rem;
    background-color: rgb(190, 244, 244);
    
}
.previews-div img {
    height: calc(80% - 2rem);
    padding: 1rem;
}