:root {
    --NavClear: transparent;
    --NavBlur: rgb(63, 63, 63);
}
.NavigationBar {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.NavigationBar .content {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.NavigationLinks-div {
    position: relative;
}
.Links-div {
    background-color: rgba(36, 36, 36, 0.779);
    display: flex;
    /* padding: 1.5vh; */
    border-radius: 2rem;
}
.Links-div h3 {
    font-size: 1.5rem;
    pointer-events: none;
}
.NavigationLink {
    width: 100%;
    z-index: 3;
    font-size: 2.5vh;
    color: white;
    padding: 1vh;
    padding-inline: 20px;
    transition: 1s ease;
}
.NavigationLink h3 {
    font-size: 30px;
}
.NavigationLink:hover {
    color: rgb(234, 245, 116);
}
.nav-moving {
    position: absolute;
    background-color: rgb(128, 128, 128);
    height: 100%;
    border-radius: 2rem;
    transition: 0.5s ease;
}

.light-dark {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    background-color: rgba(36, 36, 36, 0.779);
    border-radius: 50%;
    margin-left: 80vw;
}
.light-dark:hover {
    cursor: pointer;
}
.mode-icon {
    height: 6vh;
    padding: 1vh;
}
#SelectedNavLink {
    /* color: red; */
}

/* Nav Bar Scroll Change */
/* #Scrolled {
    animation: NavBarBlur 1s;
    background-color: var(--NavBlur);
}
#UnScrolled {
    animation: NavBarClear 1s;
    background-color: var(--NavClear);
}

@keyframes NavBarBlur {
    0% {
        background-color: var(--NavClear);
    }
    100% {
        background-color: var(--NavBlur);
    }
}
@keyframes NavBarClear {
    0% {
        background-color: var(--NavBlur);
    }
    100% {
        background-color: var(--NavClear);
    }
} */

/* Hover Over Link Change */

/* @keyframes LinkHovered {
    0% {
        transform: rotate(0deg);
        scale: 100%;
    }
    100% {
        transform: rotate(-10deg);
        scale: 108%;
    }
}
@keyframes LinkUnHovered {
    0% {
        transform: rotate(-10deg);
        scale: 108%;
    }
    100% {
        transform: rotate(0deg);
        scale: 100%;
    }
} */