.ProjectsSection {
    width: 100%;
}
.ProjectsSection h1 {
    color: white;
}
.ProjectsSection h2 {
    color: gray;
}
.ProjectsDiv {
    padding-top: 2vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}
/* .ProjectsDiv :nth-child(3) {
    grid-column: span 2;
} */