.ProjectsSection {
    width: 100%;
    /* background-color: aqua; */
    padding-bottom: 10vh;
}
.ProjectsSection .content {
    /* background-color: red; */
}
.ProjectsSection h1 {
    color: white;
}
.ProjectsSection h2 {
    color: gray;
}
.ProjectsDiv {
    padding-top: 5vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}
/* .ProjectsDiv :nth-child(3) {
    grid-column: span 2;
} */

@media (max-width: 800px) {
    .ProjectsDiv {
        /* grid-template-columns: 1fr; */
        gap: 4vh;
    }
    .ProjectsSection h2 {
        font-size: 6vw;
    }
}
@media (max-width: 1000px) {
    .ProjectsDiv {
        grid-template-columns: 1fr;
        gap: 4vh;
    }
}