.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
a, a:visited, a:active, a:link {
  text-decoration: none;  
}
.ProjectCard .img {
    /* background-color: red; */
}
.ProjectCard .img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ProjectCard h1 {
    font-size: 3rem;
}
.ProjectCard h3 {
    color: gray;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.ProjectCard .name-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ProjectCard .logo-img {
    height: 7vh;
    width: 7vh;
    margin-right: 2vh;
    border-radius: 1vh;
}
.details-btn {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 96, 128, 0.7);
    border-radius: 1.5vh;
    transition: 1s ease;
}
.details-btn:hover {
    transform: scale(104%);
}
.details-btn h3 {
    color: white;
}
.ProjectCard .link {
    width: 20vmin;
}

@media (max-width: 800px) {
    .ProjectCard .link {
        width: 30vmin;
    }
}