.ProjectLinksSection {
    padding-bottom: 2rem;
}
.ProjectLinksSection .content{
    display: flex;
}
.project-links-div {
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    width: 60%;
}
.project-link {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    transition: 1s ease;
}
.project-link:hover {
    transform: scale(104%) ;
}
.project-link img {
    height: 2rem;
    transform: rotate(90deg);
}
.project-link h2 {
    color: white;
    width: auto;
}