:root {
    --CYellow: #c8ac60;
    --CBlue: #276ab9;
    --CRed: #b75854;
}
.IntroSection {
    height: 100vh;
}
.IntroSection .content {
    padding-top: 0vh;
    justify-content: center;
    color: white;
}
.IntroSection h1 {
    font-size: 4rem;
    color: white;
}
.IntroSection h2 {
    font-size: 2rem;
    color: gray;
}
.StatusBar {
    margin-top: 2rem;
    height: 3rem;
}
.ProjectButton {
    position: absolute;
    margin-top: 80vh;
    height: 4.5rem;
    z-index: 0;
}