:root {
    --CYellow: #c8ac60;
    --CBlue: #276ab9;
    --CRed: #b75854;
}
.IntroSection {
    height: 75vh;
    width: 100vw;
    /* background-color: #276ab9; */
}
.IntroSection .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #b75854; */
}
.IntroSection h1 {
    color: white;
}
.IntroSection h2 {
    color: gray;
}
.StatusBar {
    margin-top: 2rem;
    height: 3rem;
}
.ProjectButton {
    position: absolute;
    margin-top: 80vh;
    height: 4.5rem;
    z-index: 0;
}

@media (max-width: 800px) {
    
}